<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>AppSensorDemo</display-name>
	<filter>
		<description>
		</description>
		<display-name>
		AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.owasp.appsensor.AuthFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>
		AppSensorLoggerFilter</display-name>
		<filter-name>AppSensorLoggerFilter</filter-name>
		<filter-class>org.owasp.appsensor.AppSensorLoggerFilter</filter-class>
	</filter>
		<filter>
		<description>
		</description>
		<display-name>
		AppSensorDetectionFilter</display-name>
		<filter-name>AppSensorDetectionFilter</filter-name>
		<filter-class>org.owasp.appsensor.intrusiondetection.AppSensorDetectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AppSensorLoggerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AppSensorDetectionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		
	<servlet>
		<description>
		</description>
		<display-name>
		Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Login2</display-name>
		<servlet-name>Login2</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		This is the REST call for response actions</description>
		<display-name>
		AppSensorResponseAgent</display-name>
		<servlet-name>AppSensorResponseAgent</servlet-name>
		<servlet-class>
		org.owasp.appsensor.AppSensorResponseAgent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateProfile</display-name>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>
		org.owasp.appsensor.demoapp.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login2</servlet-name>
		<url-pattern>/Login2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppSensorResponseAgent</servlet-name>
		<url-pattern>/AppSensorResponseAgent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
