#!/bin/bash -e

. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup
db_title ModMono Server

STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
	1) 
	    db_input medium monoserver2/monoserver2_restartapache || true
	    if db_go; then
		db_get monoserver2/monoserver2_restartapache || true
		if [ "$RET" = "true" ]; then
		    STATE=2
		else
		    db_set  monoserver2/monoserver2_restartapache false || true
		    STATE=2
		fi
	    else
		STATE=0
	    fi
	    ;;
	esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi
